This is my first program

# Hello Python

In [2]:
print("Hello world")

Hello world

# Variables & Operators

1.Variables- Create, Delete, Store (It is containers that store values. Python is high programming lanugage & it works in a dynamic way. It is the basic unit of storage in a program.) 
x = 5 data type- integer
y = 7 data type- int 
xy = 12.57 data type- float

2.Data Types

3.Arthmetic Operators - +,*,/,//, **

4.Assignment Operators  5. Logical Op 6. Boolean 7. Bitwise 8. Comparision

In [1]:
x = 6
print(x)

6

In [2]:
print( type(x))

<class 'int'>

In [3]:
y = 5.978
print(y)
print(type(y))

5.978
<class 'float'>

In [4]:
z = 12+3j
print(z)
print( type(z))

(12+3j)
<class 'complex'>

In [5]:
t = "I am Learning Python"
print(t)
print(type(t))

I am Learning Python
<class 'str'>

In [6]:
o = "Hello students, 23 students are present in the class"
print(o)
type(o)

Hello students, 23 students are present in the class

str

# How many variable are there in the notebook

In [8]:
%whos

Variable   Type       Data/Info
-------------------------------
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am Learning Python
x          int        6
y          float      5.978
z          complex    (12+3j)

In [9]:
del z

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
o          str      Hello students, 23 studen<...> are present in the class
t          str      I am Learning Python
x          int      6
y          float    5.978

%who = Function used to know the variable in the program

In [11]:
a = 12
b = 13
c = 14 
print (a)
print(b)
print(c)

12
13
14

# Mutliple Assigments in the varible

In [13]:
a,b,c = 3,4.5,"Hello Students"
print(a,b,c)
print( type(a), type(b), type(c))

3 4.5 Hello Students
<class 'int'> <class 'float'> <class 'str'>

In [14]:
x = 21
X = 2.34
print(x)

21

In [15]:
%whos

Variable   Type     Data/Info
-----------------------------
X          float    2.34
a          int      3
b          float    4.5
c          str      Hello Students
o          str      Hello students, 23 studen<...> are present in the class
t          str      I am Learning Python
x          int      21
y          float    5.978

2+3

# Python Arithmetic Operators

# Add Operator

In [28]:
a = 2
b = 4
c = 3.5
d = "Hello students"
e = "How are you"
F = 6+8j

In [21]:
print( a+ b)

6

In [22]:
print( a+c)

5.5

In [29]:
print( a+F )

(8+8j)

In [30]:
print ( c + F )

(9.5+8j)

# Subtract

In [31]:
%whos

Variable   Type       Data/Info
-------------------------------
F          complex    (6+8j)
X          float      2.34
a          int        2
b          int        4
c          float      3.5
d          str        Hello students
e          str        How are you
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am Learning Python
x          int        21
y          float      5.978

In [32]:
print( b - a )

2

In [33]:
print ( b-c )

0.5

In [34]:
print ( a -b )

-2

In [35]:
print ( F - a )

(4+8j)

In [36]:
print ( F - c )

(2.5+8j)

In [37]:
print ( d - e )

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Mulitiplication

In [38]:
%whos

Variable   Type       Data/Info
-------------------------------
F          complex    (6+8j)
X          float      2.34
a          int        2
b          int        4
c          float      3.5
d          str        Hello students
e          str        How are you
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am Learning Python
x          int        21
y          float      5.978

In [39]:
print ( a*b)

8

In [40]:
print ( a*c)

7.0

In [41]:
print ( d * e )

TypeError: can't multiply sequence by non-int of type 'str'

In [42]:
print( c *F )

(21+28j)

# Division Operator

In [43]:
%whos

Variable   Type       Data/Info
-------------------------------
F          complex    (6+8j)
X          float      2.34
a          int        2
b          int        4
c          float      3.5
d          str        Hello students
e          str        How are you
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am Learning Python
x          int        21
y          float      5.978

In [44]:
print ( b/a )

2.0

In [45]:
print ( b/c )

1.1428571428571428

In [46]:
print( F/a)

(3+4j)

In [47]:
print ( F / c )

(1.7142857142857142+2.2857142857142856j)

In [48]:
print ( d/e )

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# Modulus Operator

In [49]:
%whos

Variable   Type       Data/Info
-------------------------------
F          complex    (6+8j)
X          float      2.34
a          int        2
b          int        4
c          float      3.5
d          str        Hello students
e          str        How are you
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am Learning Python
x          int        21
y          float      5.978

In [50]:
print( b%2 )

0

In [51]:
print ( c%a )

1.5

In [52]:
print ( F%a)

TypeError: unsupported operand type(s) for %: 'complex' and 'int'

# Exponent Operator

In [53]:
%whos

Variable   Type       Data/Info
-------------------------------
F          complex    (6+8j)
X          float      2.34
a          int        2
b          int        4
c          float      3.5
d          str        Hello students
e          str        How are you
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am Learning Python
x          int        21
y          float      5.978

In [54]:
print ( a**4 )

16

In [55]:
print ( a**b )

16

In [56]:
print ( c**18 )

6211904899.255558

In [57]:
print ( c**b )

150.0625

In [58]:
print ( F**2 )

(-28+96j)

In [60]:
print( ( 23**9) - (65*98) + ( 89+567) + ( 12345*156778) - (23-98.78890))

1803088080234.7888

# Floor Divison

In [61]:
%whos

Variable   Type       Data/Info
-------------------------------
F          complex    (6+8j)
X          float      2.34
a          int        2
b          int        4
c          float      3.5
d          str        Hello students
e          str        How are you
o          str        Hello students, 23 studen<...> are present in the class
t          str        I am Learning Python
x          int        21
y          float      5.978

In [62]:
print( b//a )

2

In [63]:
print ( c//a )

1.0

In [64]:
add = a + b
print(add)

6

In [65]:
@#& = 123

SyntaxError: invalid syntax (544798132.py, line 1)

In [66]:
_a = 6
print(_a)

6

_a is an only Expection

In [67]:
_b = 123
print(_b)

123

# Python Assginment Operators

+= , m += 10 , m = m+10

In [68]:
m = 15

In [69]:
m += 10
print(m)

25

In [70]:
m = 15
m-=10
print(m)

5

In [71]:
m=15
m*=10
print(m)

150

In [72]:
m=15
m/=10
print(m)

1.5

In [75]:
m=15
m**=2
print(m)

225

In [76]:
m=15
m= m+10
print(m)

25

# Boolean Operators

Two Possible Values : 

1.True 
2. Flase

# Python Logical Operators Types Bollean

"and" Operator
"or" Operator
"not" Operator 

True and True is True
True and Flase is Flase 
False and True is Flase 
False and Flase is Flase 

True or True is True 
True or False is True 
False or False is False 
False or True is True 

not(True) is False 
not(False) is True 

And , Or>>Binary Operator , not>>Unary Operator

# Python Logical & Boolean Operator

In [80]:
a = True
b = True
c = False
d = False

TypeError: type() takes 1 or 3 arguments

In [81]:
type(a)

bool

In [82]:
type(b)

bool

In [84]:
type(c)

bool

In [86]:
print(a and b )

True

In [87]:
print( b and c )

False

In [89]:
print ( c and a )

False

In [90]:
print ( c and d )

False

In [91]:
print ( ( a and b ) and ( c and d ) )

False

In [ ]:
a = True
b = True
c = False 
d = False

In [92]:
print( a or b )

True

In [94]:
print (a or c )

True

In [95]:
print( c or d )

False

In [96]:
print ( ( a or b ) or ( c or d ) or ( d or a ))

True

In [97]:
a = True 
b = True 
c = False
d = False

In [98]:
print ( not (a))

False

In [99]:
print( not (c))

True

In [100]:
print(not( ( a and b ) or ( a or c ) and ( b and c ) or ( d or a )))

False

In [101]:
print( not(( a and c ) or ( b and d ) and ( a and b )) )

True

# Python Comparison Operators

= Assignment == Compare , Result of Comparsion Operators is always Boolean ( <,>,>=,<=,==,!=)

In [102]:
c = 2<3 
print ( c)

True

In [104]:
type(c)

bool

In [105]:
d = 2==3
print(d)

False

In [106]:
3 == 3.0

True

In [116]:
p = 12
q = 8
r = -3
s = 5.56

In [117]:
print((q<p) and ( r>s ))

False

In [118]:
print ( not( ( p==q) or ( r==s)))

True

In [119]:
True or False and True

True

In [12]:
print((p>=r) and (r<=s) or (q<=r))

NameError: name 'intp' is not defined

In [9]:
True or False and True

True

In [4]:
print( (not(2!=3) and True) or (False and True))

False

# Phython Bitwise Operators

Operator & = Bitwise AND 
         | = Bitwise OR
         ^ = Bitwise 
         ~ = Bitwise exclusive Or / Bitwise XOR
        << = Shifts the bits to left / Bitwise Left Shift 
        >> = Shifts the bits to right/Bitwise Right Shift

# Bitwise & Operators

Bitwise, Firstly convert the integer is to binary because Bitwise doesn't work on integer.

Example : a=5 , b=4 , a & b = ? 
   8 4 2 1
a= 0 1 0 1
b= 0 1 0 0 
& ( Jha pe bhi 1 or 1 ho , wahi pe value 1 hogi , baki har jagha 0 hoga) 
  0 1 0 0 
a & b = 4

In [13]:
a = 5
b = 4
print(a & b)

4

In [14]:
print(type(a & b ))

<class 'int'>

In [15]:
a = 789456123
b = 145968
print( a & b )

139312

In [16]:
a = 754967406459874534238904234034
b = 989723872947289483294634834390
print ( a & b )

635498936393589920319347896338

# Bitwise OR

a = 5 b = 4 a | b = ?
   8 4 2 1
a= 0 1 0 1 
b= 0 1 0 0 
   0 1 0 1 
Bitwise OR Operator mai 1 or 1 , 1 hoga , 1 or 0 bhi 1 hoga or 0 or 0 0 hoga 

a = 6 b = 8 a|b = ?
8 4 2 1 
0 1 1 0 
1 0 0 0
---------
1 1 1 0
8 4 2 1 
6|8= 14

In [17]:
a = 6 
b = 8
print(a|b)

14

In [18]:
a = 398249343
b = 458945459
print( a|b )

536805375

# Bitwise XOR ( ^ )

Bitwise XOPR operate mai identical values is 0 and different values mai 1 ayega.

a = 5 
b = 4
print ( a ^ b )

In [21]:
a = 48574859
b = 48754905
print ( a ^ b )

180562

# Bitwise Not ( ~ )

5= +ve Number 
(~5) = -6
      8 4 2 1 
5 =   0 1 0 1 
(~5)= 1 0 1 0

2'S Complement Method

2'S = 1'S + 1
-------------
-6X 
   8421
6  =           0110
1sComplement = 1001 ( Reserve)
2sComplement = 1s + 1 
    1
1 0 0 1       (Binary Addition   0 + 0 = 0 , 0 + 1 = 1 , 1 + 0 = 1 , 1 + 1 = 0 Aary 1 ) 
+     1 
--------
1 0 1 0 = 2'S
8 4 2 1 

(~5) = -6
      8 4 2 1 
5 =   0 1 0 1 
(~5)= 1 0 1 0

In [23]:
a = 5 
print(~5)

-6

In [24]:
a = 10
print(~a)

-11

2'S = 1'S+1
10 = -(10+1) = -11

In [25]:
a = 4857450458
print( ~a)

-4857450459

# << Bitwise Left Shift

No Value is discard , they shift to left

In [26]:
a = 5 
print(5<<2)

20

a = 5 (5<<2)
    8 4 2 1 
5 = 0 1 0 1 
  0 1 0 1 0 0 = Answer is 20 ( 16+4)
32 16 8 4 2 1

In [27]:
a = 7 
print(7<<2)

28

    8 4 2 1 
7=  0 1 1 1
0  1  1 1 0 0 
------------
32 16 8 4 2 1 = Answer is 28 ( 16+8+4)

In [28]:
a = 786786786
print ( a << 5 )

25177177152

# Bitwise Right >>

a = 5   8 4 2 1
    a = 0 1 0 1
            ---- Discard 
  0 0 0 1 
  8 4 2 1  Answer is 1 

a = 7   a>>3
8 4 2 1 
0 1 1 1 
 ------- Discard
0 0 0 0  Answer is 0 

a = 9 a>>2
8 4 2 1 
1 0 0 1
    ----Discard ( or age wale numbers will shift to right or blank mai 0 0 ayega)
0 0 1 0
8 4 2 1 Answer is 2

In [32]:
a = 5 
print( a>>2)

1

In [33]:
a = 7 
print(a>>3)

0

In [34]:
a = 38573895359
print( a>>78)

0

In [35]:
a = -583490594054850947985678565856856956
print(a >>105)

-14385

Problem Solving Approach

1. Question understand ( 30% ) 
2. Solution --- Logic ( 40-50%)
3. Coding ----(20-30%)

# Assignment Unit - 2

In [ ]:
Question 1 - Write a Python program to print the following string in a specific format.

Input : "Twinkle twinkle, little star, How I wonder what you are! Up above the world so hight, Like a diamond in the sky, Twinkle, Twinkle, little star, How I wonder what you are"

output : 
Twinkle twinkle, little star,
 How I wonder what you are! Up above the world so hight, 
 Like a diamond in the sky, 
 Twinkle, Twinkle, little star, 
 How I wonder what you are

In [39]:
print( "Twinkle twinkle, little star,\n How I wonder what you are! Up above the world so hight, \n Like a diamond in the sky, \n Twinkle, Twinkle, little star, \n How I wonder what you are")

Twinkle twinkle, little star,
 How I wonder what you are! Up above the world so hight,
 Like a diamond in the sky,
 Twinkle, Twinkle, little star,
 How I wonder what you are

# |n ----- Next Line

In [ ]:
Question 2 - Write a Python Program that calculates the area of circle based on the radius 10cm , 12 cm and 25, 67cm

In [ ]:
Area of Circle = Pie R quare 
               = 3.14 
               = 22/7 = 3.14 
               = 3.14 ( R * R )

In [43]:
a = 10 
print ( " The area of circle is with 10cm radius is" , 3.14*(a**2))
b = 12
print ( " The area of circle is with 12cm radius is" , 3.14*(b**2))
c = 25.67
print ( " The area of circle is with 25.67cm radius is" , 3.14*(c**2))
d = 67
print ( " The area of circle is with 67cm radius is" , 3.14*(d**2))

 The area of circle is with 10cm radius is 314.0
 The area of circle is with 12cm radius is 452.16
 The area of circle is with 25.67cm radius is 2069.0995460000004
 The area of circle is with 67cm radius is 14095.460000000001

In [ ]:
Question3 - Write a Python program to get the volume of a sphere with radium six.

In [44]:
#volume of sphere is 4/3pier R cube 
r= 6
volume = (4/3)*3.14*(6**3)
print( "the volume of sphere is" , volume )

the volume of sphere is 904.3199999999999

In [ ]:
Question 4 - Write a python program that will accept the base and height of a triangle and compute its area. Height 12cm and base 6cm.

In [45]:
#Area of triangle is (h*b)/2

h=12
b=6
Area = (h*b)/2
print( "The area of the triangle is" , Area)

The area of the triangle is 36.0

In [ ]:
Question 5 - Write a Python program to compute the simple interest, P = 100000, r = 8% , T = 1 year.

In [46]:
#The formula for the simple interest is (P*R*T)/1000

p=100000
r=8
T=1
SI= (p*r*T)/100
print("The Simple Interest Calculated is" , SI)

The Simple Interest Calculated is 8000.0

In [ ]:
Question 6 - Write a Python Program to convert the distance (in feet) to inches, yards, and miles.

In [47]:
#1 Foot = 12 inches
#1 Foot = 0.33 yards
#1 Foot = 0.00189394 miles

f = 12
d_inches = f * 12
d_yards = f * 0.33
d_miles = f * 0.00189394

print("the inches are" , d_inches)
print("the yards are", d_yards)
print("the miles are", d_miles)

the inches are 144
the yards are 3.96
the miles are 0.02272728

In [ ]:
Question 7 - Write a Python Program to calculate the hyptenuse of a right angled triangle.

In [ ]:
Python has Library --- Maths Library----Square Root = sqrt, Square = **

In [48]:
from math import sqrt 
base = 3 
height = 4
hypotenuse = sqrt(base**2 + height**2)
print("the hypoteneus of the triangle is" , hypotenuse)

the hypoteneus of the triangle is 5.0

In [ ]:
Question 8 - Write a Python Program to swap two variables

In [49]:
# Python programs to demonstrate 
# Swapping of two variables 

x = 10
y = 50 

# Swapping of the two variables 
# Using third variables 
temp = x
x = y
y = temp

print("Value of x" , x)
print("Value of y" , y )

Value of x 50
Value of y 10

In [ ]:
Question 9 - Write a program to calculate the area of square of side 10cm

In [51]:
side = 10
Area = side*side 
print("Area of the square", Area)

Area of the square 100

In [ ]:
Question 10 - Write a program to convert 250 kg into gram

In [55]:
kilo = 250 
a = kilo*1000
print( "250kg is", a , "grams")

250kg is 250000 grams

# Built in functions

Round function 
Divmod function
Is intance function 
Power function

In [ ]:
# Types Of Functions in Python

In [ ]:
There are two types of functions in Python :

In [ ]:
1. User-Defined Functions - These types of functions are defined by the user to perform any specific task.

In [ ]:
2. Built-in Functions - These are pre-defined functions in python.

In [ ]:
The Python built-in functions are defined as the functions whose functionality is pre-defined in Python. The python

# Round Function

Round function in python programming is an inbuilt function. It is used to round off numbers up to the specified number of decimals points.

In [57]:
print(round(5.6565))

6

In [58]:
print(round(4.56787))

5

In [59]:
a = 12.6
print(round(a))

13

In [60]:
a = 14.456545
round(a,3)

14.457

In [61]:
round(a,4)

14.4565

In [64]:
print(round(1232333.67878687676565,5))

1232333.67879

In [ ]:
"""These comas are used to give remarks in python , to only read the statement but not to execute or run in program """

In [66]:
"""Mohan buys 3 tablets cost of tablet 1"""

tablet_one = 45.67
tablet_two = 68.967
tablet_three = 574.784
print(round(tablet_one+tablet_two+tablet_three))

689

# Div-mod function

The divmod() method in python takes two numbers and returns a pair of numbers consisting of their quotient and remainder.

In [ ]:
divmod(x,y) outputs the quotient and reminder in the tuple (Tuple will be convered later )

In [67]:
divmod ( 27, 5)
(5,2) -> Tuple

(5, 2)

In [ ]:
Tuples are used to store multiple items in a single variable.

In [1]:
divmod(35,3)

(11, 2)

In [2]:
a = divmod(25,7)
print(a)

(3, 4)

In [3]:
type (a)

tuple

In [5]:
a[0]
print(a[0])

3

In [6]:
a[1]
print(a[1])

4

In [ ]:
In Python index nunmber starts with Zero not One.

In [7]:
25//7

3

In [8]:
25%7

4

In [9]:
a = divmod(123.23242 , 3 )
print(a)

(41.0, 0.23242000000000473)

In [10]:
print( divmod (23792398273489347349 , 49894))

(476858906351251, 29955)

In [11]:
"""Divde the number 148.789 by 12, 13 ,14 and 15 separtely , and their quotient, remainder add"""
a = divmod(148.789, 12)
b = divmod(148.789, 13)
c= divmod(148.789, 14)
d= divmod(148.789, 15)
print(a,b,c,d)

(12.0, 4.788999999999987) (11.0, 5.788999999999987) (10.0, 8.788999999999987) (9.0, 13.788999999999987)

In [13]:
q = a[0] + b[0] + c[0] + d[0] 
print("sum of quotient are" , q)
r = a[1] + b[1] + c[1] + d[1] 
print("sum of reminders are" , r)

sum of quotient are 42.0
sum of reminders are 33.15599999999995

In [17]:
round(r)

33

# Isintance Function

The isinstance() function returns True if the specified objects is of the specified type, otherwise False. 
If the type parameter is a tuple, this function will return True if the object is one of the types in the tuple.

In [ ]:
# Syntax

In [23]:
"""isintance(object, type)"""

print(isinstance(1,int))
print(isinstance(1.0 , int))
print(isinstance(1.0,(int,float)))

"""Isintance class type is blood"""

True
False
True

'Isintance class type is blood'

In [24]:
isinstance((93,45) , (int,float)) """Tuple is not possible in object"""

False

In [39]:
print(isinstance("python is amazing",(int,float,str)))

True

In [36]:
isinstance(3.78,(float,int,complex))

True

# Power Function

In [ ]:
The pow() function returns the value x to the power of y (xy)

In [ ]:
If a third parameter is present, it returns x to the power of y, modulus z. 
Pow(x,y,z)-x raise to the power y and remainder by z

pow(x,y)
pow(2,4) = 16

In [40]:
pow(3,4,8)
"""x,y,z"""

'x,y,z'

In [41]:
pow(2,4)

16

In [42]:
2**4

16

In [43]:
pow(45,78)

892433931724899592133340503925107044376202040970794580884598711678709679913526717581436810411421589606106863357126712799072265625

In [45]:
pow(3.2,4)

104.85760000000002

In [46]:
pow(2+3j, 2)

(-5+12j)

In [47]:
pow(2,4,7) """2 raise to the 4 then value will be divided by 7"""

2

In [48]:
pow(3,4,5) """3 raise to the power 4 then value will be divided by 5 then the reminder is the answer of pow function"""

1

In [50]:
"""24 raise to the power 2,3,4,5 and divide it by 7 find the remainder in each case"""

print(pow(24,2,7))
print(pow(24,3,7))
print(pow(24,4,7))
print(pow(24,5,7))

2
6
4
5

In [51]:
"""63 raise to the power 45 and divide it by 52 find the reminder"""

a = pow(63,45,52)
print(a)

47

# Built in Functions

In [ ]:
Input Function 
int Function
float Function
len , min , max function 
sorted Function
help()

# input function

Developers often have a need to interact with users, either to get data or to provide some sort of result. 

input() : This function first takes the input from the user and converts it into a string. The type of the returned object always will be <type'str'>.
The type of the retuned object always will be <type'str'>. It does not evaluate the expression it just returns the complete statement as String.

Syntax : 

inp = input('Statement')

Python input() function is used to take user input. By default, it returns the user input in form of a string.
Here the variable a will take the data type string, but lets say if there is any integer or float or any other number than we can convert the string
data type to another data type.

# Int Function

The int() function convert the specified value into an integer number.

# Float Function

Float is a function or reusable code in the Python programming language that converts values into floating point numbers.
Floating point numbers are decimal values or fractional numbers like 133.5

# input( ) , int( ) and float( )

In [52]:
x = input("Enter the value")

Enter the value 45

In [53]:
print(x)

45

In [54]:
print(type(x))

<class 'str'>

In [55]:
print(x-21) ( In str data type +,- is not possible)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [56]:
x = int(x)

In [57]:
print(x)
print(type(x))

45
<class 'int'>

In [59]:
print(x-21)
print(x+21)

24
66

In [60]:
a = input( "Hello user, please enter your value")

Hello user, please enter your value 5.2

In [61]:
print(a)
print(type(a))

5.2
<class 'str'>

In [62]:
a = float(a)

In [63]:
print(a)
print(type(a))

5.2
<class 'float'>

In [64]:
print(a-1.2)
print(a*2)

4.0
10.4

In [66]:
"""Lets make a result of the student, ask the user to enter the marks of eng, hin, maths,social, and find out ther percent of the student"""

a = input("Enter the marks of maths")
b = input("Enter the marks of science")
c = input("Enter the marks of social")
d = input("Enter the marks of english")
e = input("Enter the marks of Hindi")

Enter the marks of maths 85
Enter the marks of science 80
Enter the marks of social 75
Enter the marks of english 65
Enter the marks of Hindi 90

In [67]:
type(a)

str

In [68]:
a = int(a)
b = int(b)
c = int(c)
d = int(d)
e = int(e)
print(a+b+c+d+e)

395

In [69]:
print((395/500)*100)

79.0

# Len Function

The len() function returns the number of items in an object. 
When the object is a string , the len() function returns the number of characters in the string.

The function len() is one of Python's built-in functions. It returns the length of an object. 
For example , it it can return the number of items in alist. You can use the function with many different data types. However , not all the data types are valid arguments of len()>

In [70]:
a = "I am learning python"
print(a)

I am learning python

In [72]:
print(len(a))

20

In [74]:
x = "python is a high level programming lanugage"
y = "and it is very easy to learn"
print(x + y )

python is a high level programming lanugageand it is very easy to learn

In [75]:
print(len(x+y))

71

In [78]:
L = [12,17,45,521,34,3,33,33]
len(L)

8

In [79]:
A = 123454545
len(A)

TypeError: object of type 'int' has no len()

In [ ]:
Length function is not aplicable for int or float

# Min & Max function

max() : 

This function is used to compute the maximum of the values passed in its argument and lexicographically largest value if strings are passes as arguments.

min() : 

This function is used to compute the minimum of the values passed in its argument and lexicographically smallest value if strings are passed as arguments.

In [81]:
l = [45,12,41,-6,85,12,-78]
min(l)

-78

In [83]:
max(l)

85

In [84]:
"""Ask the user to enter 5 values and find the minimum and the maximum values"""

a = input("Enter 1st value")
b = input("Enter 2nd value")
c = input("Enter 3rd value")
d = input("Enter 4th value")
e = input("Enter 5th value")

Enter 1st value 12
Enter 2nd value 2.35
Enter 3rd value -4
Enter 4th value 51
Enter 5th value -47

In [86]:
a= int(a)
b= float(b)
c= int(c)
d= int(d)
e= int(e)
print("Values given by user" , a,b,c,d,e)
print("The Minimum value is" , min(a,b,c,d,e))
print("The Maximum value is" , max(a , b,c,d,e))

Values given by user 12 2.35 -4 51 -47
The Minimum value is -47
The Maximum value is 51

# Sorted Function

The sorted() function returns a sorted list of the specified interable object.

You can specify asceding or descending order. Strings are sorted alphabetically, and numbers are sorted numerically.

In [87]:
L = [15,94,-6,24,84]
sorted(L) Assendencing order automatically

[-6, 15, 24, 84, 94]

In [88]:
sorted(L, reverse = True)  For dessendencing order

[94, 84, 24, 15, -6]

In [91]:
"""Take 5 values from the user and arrange them in ascending and descending order""" 
a = input("Enter 1st value")
b = input("Enter 2nd value")
c= input("Enter 3rd value")
d = input("Enter 4th value")
e = input("Enter 5th value")

Enter 1st value 24
Enter 2nd value 12.56
Enter 3rd value -5
Enter 4th value 26
Enter 5th value -94

In [92]:
a = int(a)
b = float(b)
c = int(c)
d = int(d)
e = int(e)
print(a,b,c,d,e)

24 12.56 -5 26 -94

In [94]:
x = (a,b,c,d,e)
print(sorted(x))

[-94, -5, 12.56, 24, 26]

In [97]:
print(sorted(x , reverse = True))

[26, 24, 12.56, -5, -94]

# How to use any function in python

In [98]:
pow?

Signature: pow(base, exp, mod=None)
Docstring:
Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

Some types, such as ints, are able to use a more efficient algorithm when
invoked using the three argument form.
Type:      builtin_function_or_method

In [99]:
help(divmod)

Help on built-in function divmod in module builtins:

divmod(x, y, /)
    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

In [100]:
divmod?

Signature: divmod(x, y, /)
Docstring: Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.
Type:      builtin_function_or_method

In [101]:
max??

Docstring:
max(iterable, *[, default=obj, key=func]) -> value
max(arg1, arg2, *args, *[, key=func]) -> value

With a single iterable argument, return its biggest item. The
default keyword-only argument specifies an object to return if
the provided iterable is empty.
With two or more arguments, return the largest argument.
Type:      builtin_function_or_method

# Unit- 3 Assignment Questions

Problem Solving Approach : 
1) Question- Understand (30%)
2) Logic- (40-50%)
3) 3)Coding- (30-40%)

In [ ]:
Question 1 - In an experiment the scientist was measuring the length of a line, the following are the lengths in mm
2.398 , 5.639 , 7.452 , 0.123 , 5.754
Find the average length and also round off upto 2 digits.

In [102]:
Length = 2.398 + 5.639 + 7.452 + 0.123 + 5.754
Average = Length/5
print( "The average length is" ,Average)
a = round(Average , 2 )
print( "The round off length is" , a )

The average length is 4.2732
The round off length is 4.27

In [ ]:
Question 2 - Rahul travelled a distance of 12567.7854 km. 
Divide it the cost 45, 78,63 rs . 
Find the average of quotient and remainder and 
figured out the round off value of the quotient and remainder.

In [107]:
a = divmod( 12567.7854 , 45)
b = divmod( 12567.7854 , 78)
c = divmod( 12567.7854 , 63)
d = (a[0] + b[0] + c[0] )/ 3
e = (a[1] + b[1] + c[1] )/ 3
print("The average of quotient and Remainder is", d, "&", e )
print("the round off value of the quotient and remainder is " , round(d) , "&" ,round(e))

The average of quotient and Remainder is 213.0 & 17.785400000000664
the round off value of the quotient and remainder is  213 & 18

In [ ]:
Question 3 - 10524 raise to the power 2,3,4,5 and divide it by 71
Find the reminder in each case

In [108]:
a = pow(10524 ,2 , 71)
b = pow(10524 ,3,71)
c = pow(10524 ,4,71)
d = pow(10524 ,5,71)
print(a,b,c,d)

43 49 3 48

In [ ]:
Question 4 - Enter the value of 5 stocks in the form of float from the user and 
Find the average of the 5 stocks and finally round off.

In [110]:
a = float(input("Enter the value of stock 1st"))
b = float(input("Enter the value of stock 2nd"))
c = float(input("Enter the value of stock 3rd"))
d = float(input("Enter the value of stock 4th"))
e = float(input("Enter the value of stock 5th"))
Average = ( a+b+c+d+e)/5
print("the average of the 5 stocks and finally round off" , round(Average) )

Enter the value of stock 1st 334.4
Enter the value of stock 2nd 2323.4
Enter the value of stock 3rd 4423
Enter the value of stock 4th 433.5
Enter the value of stock 5th 2323.3

the average of the 5 stocks and finally round off 1968

In [ ]:
Question 5 - Find the minimum , maximum and finally sort in the ascending and descending order
[ 1578 , 52 ,-6 ,78,965,741,412,-236,86,120,-96,-41,752,12,0,3,7,-89]

In [112]:
a = [ 1578 , 52 ,-6 ,78,965,741,412,-236,86,120,-96,-41,752,12,0,3,7,-89]
print( "Mimimum value is" , min(a))
print("Maximum value is" , max(a))
print("sorted values in the ascending" , sorted(a))
print("sorted values in the descending order" , sorted(a,reverse = True))

Mimimum value is -236
Maximum value is 1578
sorted values in the ascending [-236, -96, -89, -41, -6, 0, 3, 7, 12, 52, 78, 86, 120, 412, 741, 752, 965, 1578]
sorted values in the descending order [1578, 965, 752, 741, 412, 120, 86, 78, 52, 12, 7, 3, 0, -6, -41, -89, -96, -236]

# Unit - 4

# if Condition

In [ ]:
Decision making is the most important aspect of almost of almost all the programming languages.
As the name implies, decision making allows us to run a particular block of code for a particular decision.
Here, the decisions are made on the validity of the particular conditions. Condition checking is the backbone of decision making .

"""Control Flow Statement"""

If statement - The if statement is used to test a specific condition. If the condition is true , a block of code ( if-block) will be executed.

In [114]:
"""Take two numbers from the user and print the greater one"""
a = int(input("Enter the first value" ))
b = int(input("Enter the second value"))
if a>b : 
    print("The Greater Value is a" , a ) 
if b>a :
    print("The Greatern Value is b" , b)

Enter the first value 25
Enter the second value 89

The Greatern Value is b 89

In [117]:
"""Enter the value from the user , and check the number is true or false"""
a = int(input('Enter the value'))
if a%2==0 :
   print("number entered by the user is even number")
if a%2!=0 :
   print("number entered by the user is not even")

Enter the value 13

number entered by the user is not even

In [118]:
"""Umpire toosed a coin , if it will be head team A will bat First , if it will be tail team B will bat first"""
a = input("Tossed a coin")
if a=="head" : 
    print("Team A will bat first")
if a=="Tail" : 
    print("Team B will bat first")

Tossed a coin head

Team A will bat first

In [122]:
"""Enter a number from the user , and check the number is divisible by 13 or not"""
y = int(input("Please enter the number"))
if y%13==0:
        print("The  number is divisible by 13")
if y%13!=0 : 
        print("the number is divisible by 13")

Please enter the number 14345

the number is divisible by 13

In [124]:
"""Raju went for shooping if he purchase blue ball then , he will play from the side of the blue team , if raju will green ball then he will play from the green team"""
z = input("Enter the colour if the ball")
if z=="blue" : 
    print("Raju will play from the blue team")
if z=="Green" :
    print("Raju will play from the green team")
print("Raju will not play")

Enter the colour if the ball red

Raju will not play

# If else Condition

In [ ]:
if-else

The if statement alone tells us that if a condition is true it will execute a block of statements and if the condition is false it won't.
But what if we want to do something else if the condition is false. Here comes the else statement. 
We can use the else statement with if statement to execute a block of code when the condition is false. 

Syntax : 
if (condition) : 
    # Execute this block if 
    # condition is true 
else : 
    #Executes this block if 
    #condition is false

In [126]:
"""Take a value from the user and if the value will be greater than 20 print Magic and if the value is not greatern than 20 and then print no magic"""
a = int(input("Enter the value"))
if a>20 : 
    print("Magic")
else : 
    print("no magic")

Enter the value 26

Magic

In [127]:
"""Enter the age of the user , if age is greater than 60 print senior citizen , age is less than 60 , print not a senior citizen"""
p = int(input("Please enter your age"))
if p>=60 : 
        print("Senior Citizen")
else :
       print("Not a Senior Citizen")

Please enter your age 50

Not a Senior Citizen

In [130]:
"""Ask the user to enter his age , if age will be more than 18 year then eligible for voting"""
a = int(input("Enter you age"))
if a>=18 : 
    print("You are eligible for voting ")
else : 
    print("You are not eligible for voting")
print("Election is coming soon")

Enter you age 45

You are eligible for voting
Election is coming soon

In [40]:
"""Make the Calculator by entering the input from the User"""

a = (input("Enter the first value " ))
b = (input("Enter the second value "))
c = input("1. Addition 2. Substraction 3. Mutipilcation 4. Division ")
if c=="1" :
    print(int(float(a)+float(b)))

elif c=="2":
     print((int(float(b)-float(a))))

elif c=="3" :
    print(int(float(b)*float(a)))
  
elif c=="4" :
    print(int(float(b)/ float(a)))

else : 
    print("Error")

Enter the first value  342
Enter the second value  32
1. Addition 2. Substraction 3. Mutipilcation 4. Division  1

374